.env
.env.*
!.env.example

venv/
.venv/

__pycache__/
*.pyc
*.pyo
*.pyd
.coverage

.DS_Store
.idea/
.vscode/

media/
staticfiles/
node_modules/
dist/
build/

*.log
data/
docs/internal/

docker/mosquitto/data/*
docker/mosquitto/log/*
!docker/mosquitto/data/.gitkeep
!docker/mosquitto/log/.gitkeep